{% extends "base.html" %}

{% block titulo %}

Página Inicial

{% endblock %}

{% block conteudo %}

<div class="card shadow">

    <div class="card-body">

        <h1 class="text-primary">

            Bem-vindo ao HelpDesk Pro

        </h1>

        <p class="lead">

            Sistema de gerenciamento de chamados técnicos.

        </p>

        <hr>

        <a href="/chamados"
           class="btn btn-primary">

            Abrir Chamados

        </a>

    </div>

</div>

{% endblock %}