{% extends "base.html" %}

{% block titulo %}

Chamados

{% endblock %}

{% block conteudo %}

<h2 class="mb-4">

Lista de Chamados

</h2>

<table class="table table-striped">

    <thead>

        <tr>

            <th>ID</th>
            <th>Título</th>
            <th>Prioridade</th>
            <th>Status</th>

        </tr>

    </thead>

    <tbody>

        <tr>

            <td>1</td>
            <td>VPN não conecta</td>
            <td>Alta</td>
            <td>Aberto</td>

        </tr>

    </tbody>

</table>

{% endblock %}